on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    container: # Используем контейнер вместо ubuntu-latest и установки Flutter/Java вручную
      image: mobiledevops/flutter-sdk-image:latest # <-- Исправлено здесь!
      # Используйте конкретную версию, например, mobiledevops/flutter-sdk-image:3.19.0
      # options: --user root # Иногда полезно, если есть проблемы с правами доступа
    steps:
    - uses: actions/checkout@v4

    - name: Get Flutter dependencies
      run: flutter pub get

    - name: Build Android APK
      run: flutter build apk --debug

    - name: Upload APK artifact
      uses: actions/upload-artifact@v4
      with:
        name: camera-app-debug
        path: build/app/outputs/flutter-apk/app-debug.apk
